.CTableContainer {
  width: 100%;
  .table {
    width: 100%;
    overflow: auto;
    border-radius: 10px;
    border: 1px solid $borders;
    position: relative;

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
    }
  }
}

.CTableHead {
  position: sticky;
  top: 0;
  z-index: 2;
}

.CTableCell {
  padding: 16px 8px !important;
  line-height: 12px;
  border-left: 1px solid $borders;
  border-bottom: 1px solid $borders;
  background-color: transparent !important;

  &:first-child {
    border-left: 0;
  }
}

.MuiTableRow-root {
  &.clickable {
    cursor: pointer;
    transition-duration: 0.2s;
    &:hover {
      background-color: $hover;
    }
  }
}

.CTableBody {
  z-index: 1;
}

thead {
  th {
    position: relative;
    padding: 16px 8px !important;
    border-bottom: 1px solid $borders;
    border-left: 1px solid $borders;

    &:first-child {
      border-left: 0;
    }
  }
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  height: 80px !important;
}
.resizer:hover,
.resizing {
  border-right: 2px solid $main;
}

.resizable {
  border: 1px solid red;
  height: 100px;
  width: 100px;
  position: relative;
}

#tableActions {
  position: relative;
  @include alignCenterJusftifyCenter;
  gap: 12px;
  .delete,
  .edit {
    border: 1px solid $borders;
    width: 28px;
    height: 28px;
    @include alignCenterJusftifyCenter;
    border-radius: 4px;
    svg {
      transition: 0.3s;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
  .edit {
    color: $main;
  }
  .delete {
    color: $error;
  }
  .popover {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: -10px;
    height: 100%;
    z-index: 99;
  }
}
