.formGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 25px;
  margin-top: 25px;
  padding-bottom: 20px;
}
.gridDescription {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 16px;
  margin-top: 10px;
}
.gridImages {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}