.wrapper {
  .label {
    color: $black;
  }
  .grid {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;

    .imageBox {
      width: 200px;
      height: 200px;
      background-color: yellowgreen
    }
  }
  .addBtn {
    @include alignCenter;
    justify-content: flex-start;

    svg {
      width: 50px;
      height: 50px;
      // margin-left: 10px;
      color: $main;
      cursor: pointer;
    }
  }
}
