// @use "/src/scss/colors";

.block {
  padding: 8px 16px;
  background-color: #f6f8f9;
  border-radius: 6px;

  .row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    .input {
      background-color: #fff;
    }
  }
}

.createButton {
  background-color: #f6f8f9;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 2px;
  border-radius: 6px;
  color: $primary;
  transition-duration: 0.2s;

  &:hover {
    color: $primary-hover;
  }
}
