$dark: #000;
$black: #111;
$main: #d95c35;
$main-hover: #d95c35aa;
$primary: #007aff;
$primary-hover: #005fc4;
$grey: #767676;
$greyLighter: #8b99af;
$greyThird: #d4d4d6;
$borders: #e5e9eb;
$page-background: #f5f5f5;
$hover: #fafafa;
$yellowLight: #ffb800;
$error: #ed0101;
$success: #22c55e;
$light: rgba(0, 0, 0, 0.5);
$mainBorders: rgb(229 233 235);
